# Environment Variables (WAJIB!)
.env
.env.*
*.env
.env.local
.env.production

# S3 Browser Config
s3browser.json
r2-config.json
*.credentials

# Python
venv/
__pycache__/
*.pyc
db.sqlite3
*.log

# Django
staticfiles/
media/
avatars/

# IDE
.vscode/
.idea/
*.swp
.DS_Store